@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.toggle
{
   position: relative;
  width: 40px;
  height: 40px;
  background: url('https://icon-library.com/images/menu-icon-white-png/menu-icon-white-png-16.jpg');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  background-color: white;
  cursor: pointer;
  color: white;
}



.logo_section{
  display:flex;
  cursor:pointer;
}

.logo_section img{
  height: 3rem; margin-right: 0.5rem; width:10rem;
} 

.toggle.active
{
  position: relative;
  width: 40px;
  height: 40px;
  background: url('https://static.thenounproject.com/png/3187934-200.png');
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  background-color: gainsboro;
  cursor: pointer;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
  animation-name:content;
  animation-duration:1s;
  animation-fill-mode:forwards;
}


@keyframes content{
  0%{right:-500%}
  100%{right:0%}
}

.text h2
{
  font-size: 5rem;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.1rem;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
  
}

.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition-property: transform;
  opacity:0;
  transition-duration:1s;
  transition: all 0.5s ease-in;
  animation-name:btn;
  animation-duration:5s;
  animation-delay:1s;
  animation-fill-mode:forwards;
}

@keyframes btn{
    0%{opacity:0%}
    100%{opacity:100%}
}

.text a:hover
{
  letter-spacing: 6px;
  transform: rotateY(180deg);
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #03a9f4; 
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}

@media (max-width: 768px)
{
  .logo_section img{
    display:none;
  }

  .showcase,
  .showcase header
  {
    padding: 20px;
  }
  .text h2
  {
    font-size: 2em;
  }
  .text h3
  {
    font-size: 2em;
  }
  .text p
  {
    font-size: 2em;
  }
}

@media (max-width: 685px)
{
  .logo_section img{
    display:none;
  }

  .showcase,
  .showcase header
  {
    padding: 10px;
  }
  .text h2
  {
    font-size: 1em;
  }
  .text h3
  {
    font-size: 1em;
  }
  .text p
  {
    font-size: 1em;
  }
}

